#include "iversion.h"

1 VERSIONINFO
FileVersion    tCxxWindowSubclass_VMAJOR, tCxxWindowSubclass_VMINOR, tCxxWindowSubclass_VPATCH, tCxxWindowSubclass_VTAIL
ProductVersion tCxxWindowSubclass_VMAJOR, tCxxWindowSubclass_VMINOR, tCxxWindowSubclass_VPATCH, tCxxWindowSubclass_VTAIL
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        //language ID = U.S. English, char set = Windows, Multilingual
        {
            VALUE "CompanyName", "Public Domain"
            VALUE "ProductName",     tCxxWindowSubclass_NAME
            VALUE "FileDescription", tCxxWindowSubclass_NAME
            VALUE "FileVersion",    tCxxWindowSubclass_VMAJORs "." tCxxWindowSubclass_VMINORs "." tCxxWindowSubclass_VPATCHs
            VALUE "ProductVersion",    tCxxWindowSubclass_VMAJORs "." tCxxWindowSubclass_VMINORs "." tCxxWindowSubclass_VPATCHs
            VALUE "LegalCopyright",    "Public domain"
            VALUE "OriginalFilename" , tCxxWindowSubclass_NAME ".exe"
            VALUE "InternalName", tCxxWindowSubclass_NAME ".exe"
            VALUE "Comments","Presented by public domain"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
}
