#include "iversion.h"

1 VERSIONINFO
FileVersion    guiSetTimeZone_VMAJOR, guiSetTimeZone_VMINOR, guiSetTimeZone_VPATCH, guiSetTimeZone_VTAIL
ProductVersion guiSetTimeZone_VMAJOR, guiSetTimeZone_VMINOR, guiSetTimeZone_VPATCH, guiSetTimeZone_VTAIL
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        //language ID = U.S. English, char set = Windows, Multilingual
        {
            VALUE "CompanyName", "Public Domain"
            VALUE "ProductName",     guiSetTimeZone_NAME
            VALUE "FileDescription", guiSetTimeZone_NAME
            VALUE "FileVersion",    guiSetTimeZone_VMAJORs "." guiSetTimeZone_VMINORs "." guiSetTimeZone_VPATCHs
            VALUE "ProductVersion",    guiSetTimeZone_VMAJORs "." guiSetTimeZone_VMINORs "." guiSetTimeZone_VPATCHs
            VALUE "LegalCopyright",    "Public domain"
            VALUE "OriginalFilename" , guiSetTimeZone_NAME ".exe"
            VALUE "InternalName", guiSetTimeZone_NAME ".exe"
            VALUE "Comments","Presented by public domain"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
}
