#include "iversion.h"

1 VERSIONINFO
FileVersion    SimpleCreateFile_VMAJOR, SimpleCreateFile_VMINOR, SimpleCreateFile_VPATCH, SimpleCreateFile_VTAIL
ProductVersion SimpleCreateFile_VMAJOR, SimpleCreateFile_VMINOR, SimpleCreateFile_VPATCH, SimpleCreateFile_VTAIL
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        //language ID = U.S. English, char set = Windows, Multilingual
        {
            VALUE "CompanyName", "Public Domain"
            VALUE "ProductName",     SimpleCreateFile_NAME
            VALUE "FileDescription", SimpleCreateFile_NAME
            VALUE "FileVersion",    SimpleCreateFile_VMAJORs "." SimpleCreateFile_VMINORs "." SimpleCreateFile_VPATCHs
            VALUE "ProductVersion",    SimpleCreateFile_VMAJORs "." SimpleCreateFile_VMINORs "." SimpleCreateFile_VPATCHs
            VALUE "LegalCopyright",    "Public domain"
            VALUE "OriginalFilename" , SimpleCreateFile_NAME ".exe"
            VALUE "InternalName", SimpleCreateFile_NAME ".exe"
            VALUE "Comments","Presented by public domain"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
}
