#include "iversion.h"

1 VERSIONINFO
FileVersion    doShowWindow_VMAJOR, doShowWindow_VMINOR, doShowWindow_VPATCH, doShowWindow_VTAIL
ProductVersion doShowWindow_VMAJOR, doShowWindow_VMINOR, doShowWindow_VPATCH, doShowWindow_VTAIL
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        //language ID = U.S. English, char set = Windows, Multilingual
        {
            VALUE "CompanyName", "Public Domain"
            VALUE "ProductName",     doShowWindow_NAME
            VALUE "FileDescription", doShowWindow_NAME
            VALUE "FileVersion",    doShowWindow_VMAJORs "." doShowWindow_VMINORs "." doShowWindow_VPATCHs
            VALUE "ProductVersion",    doShowWindow_VMAJORs "." doShowWindow_VMINORs "." doShowWindow_VPATCHs
            VALUE "LegalCopyright",    "Public domain"
            VALUE "OriginalFilename" , doShowWindow_NAME ".exe"
            VALUE "InternalName", doShowWindow_NAME ".exe"
            VALUE "Comments","Presented by public domain"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
}
