#include "iversion.h"

1 VERSIONINFO
FileVersion    NtfsGetSD_VMAJOR, NtfsGetSD_VMINOR, NtfsGetSD_VPATCH, NtfsGetSD_VTAIL
ProductVersion NtfsGetSD_VMAJOR, NtfsGetSD_VMINOR, NtfsGetSD_VPATCH, NtfsGetSD_VTAIL
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        //language ID = U.S. English, char set = Windows, Multilingual
        {
            VALUE "CompanyName", "Public Domain"
            VALUE "ProductName",     NtfsGetSD_NAME
            VALUE "FileDescription", NtfsGetSD_NAME
            VALUE "FileVersion",    NtfsGetSD_VMAJORs "." NtfsGetSD_VMINORs "." NtfsGetSD_VPATCHs
            VALUE "ProductVersion",    NtfsGetSD_VMAJORs "." NtfsGetSD_VMINORs "." NtfsGetSD_VPATCHs
            VALUE "LegalCopyright",    "Public domain"
            VALUE "OriginalFilename" , NtfsGetSD_NAME ".exe"
            VALUE "InternalName", NtfsGetSD_NAME ".exe"
            VALUE "Comments","Presented by public domain"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
}
