#include "iversion.h"

1 VERSIONINFO
FileVersion    testQPC_VMAJOR, testQPC_VMINOR, testQPC_VPATCH, testQPC_VTAIL
ProductVersion testQPC_VMAJOR, testQPC_VMINOR, testQPC_VPATCH, testQPC_VTAIL
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        //language ID = U.S. English, char set = Windows, Multilingual
        {
            VALUE "CompanyName", "Public Domain"
            VALUE "ProductName",     testQPC_NAME
            VALUE "FileDescription", testQPC_NAME
            VALUE "FileVersion",    testQPC_VMAJORs "." testQPC_VMINORs "." testQPC_VPATCHs
            VALUE "ProductVersion",    testQPC_VMAJORs "." testQPC_VMINORs "." testQPC_VPATCHs
            VALUE "LegalCopyright",    "Public domain"
            VALUE "OriginalFilename" , testQPC_NAME ".exe"
            VALUE "InternalName", testQPC_NAME ".exe"
            VALUE "Comments","Presented by public domain"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
}
